<div id="nist_topBar">
<img src="images/nistLogo.png">
</div>
<div style="clear:both;"></div>

<div id="nist_container">
	<div id="nist_centerCTNR">
    Sign in to the Slalom Security Assessment Portal.
    
    <div style="clear:both;"></div>
    <div class="nist_form1">   
    <form data-ng-submit="login()" id="login-form">    	
    	<div class="nist_signinRow">
          <label for="signin01">Username</label>
          <input type="text" id="signin01" name="username" data-ng-model="user.uid" />
        </div>   	
    	<div class="nist_signinRow">
          <label for="signin02">Password</label>
          <input type="password" id="signin02" name="password" data-ng-model="user.password" />
        </div>   	
    <!--	<div class="nist_signinRow">
          <label for="signin03">Verification Code</label>
          <input type="text" id="signin03" name="signin" />
        </div> -->
    
    
    <div style="clear:both;"></div>
    <div class="nist_form2">	
    	<div class="nist_submitRow">
          <label for="submit01">Forgot Password?</label> <!-- This should redirect to forgot pass page -->
          <input type="submit" id="submit01" name="submit" value="Sign In"/>
        </div>
    </div>
    </form>
   </div>
    <div style="clear:both;"></div>
    <div class="nist_hr"></div>
    
    <div style="clear:both;"></div>
    <div class="nist_form2"><span class="nist_finePrint">&copy; 2016 Slalom LLC • Visit us on the web at www.Slalom.com</span></div>
</div>
</div>

<div id="nist_bottomShade" style="width:1262px; height:262px; background-image:url(images/nist_bottomShade.png); background-repeat:repeat-x; position:absolute; bottom:0px; left:50%; margin-left:-631px; z-index:100;"></div>