<div class="container">
<p>The way to understand if you win is by taking the final number of each teams score at the end of each quarter. Example:

End of Q1 the Score is Broncos 10 -  Panthers 14, the winner will have the 0 on the Broncos line and 4 on the Panthers line.  So in this case, Ian Michiels would win $25.  

The same rule applies for each quarter and the payouts are:

Score at end of Q1 = $25
Score at Halftime end of Q2 = $50
Score at end of Q3 - $75
Final Score at end of Q4 = $100

Yes, an individual can win multiple times.

The other $250 goes to the Relay Fundraising efforts!! Great Job Team!!</p>
</div>