

<div class="container">
	
    Score
    
  
    <form data-ng-submit="submitScore()" id="score-form">   
      <div class="form-group"> 	
    	<div>
          <label for="signin01">Broncos</label>
          <input type="text" id="signin01" name="name" data-ng-model="score.broncos_score" />
        </div>   	
    	<div >
          <label for="signin02">Panthers</label>
          <input type="text" id="signin02" name="email" data-ng-model="score.panthers_score" />
        </div>   
          <div >
            <button type="submit">Submit Scores</button>
        </div>	
        </div>
        </form>
    
 </div>   

