
<div class="container-fluid">
<div class="jumbotron">
    <form data-ng-submit="submitWinner()" id="winner-form">   
      <div class="form-group"> 	
    	<div>
          <label for="signin01">Winner</label>
      <input type="text" id="signin01" name="winner" data-ng-model="winner.winnerNameQuarter" />
        </div>   	
        </br>
        <div>
            <button type="submit">Submit Winner</button>
        </div>	
        
        </form>
    <div>Example - Q1: Hemen Chhatbar</div>

 </div>   
</div>