<div class="container">           
  <table class="table">
    <thead>
      <tr>
        <th>X</th>
        <th>4</th>
        <th>2</th>
        <th>9</th>
        <th>8</th>
        <th>5</th>
        <th>7</th>
        <th>0</th>
        <th>6</th>
        <th>1</th>
        <th>3</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>8</th>
        <td>W</td>
        <td>EB</td>                
        <td>MK</td>
        <td>SH</td>
        <td>JR</td>
        <td>DD</td>
        <td>DD</td>
        <td>HC</td>
        <td>Ed</td>
        <td>Ed</td>
        
      </tr>
      <tr>
        <th>9</th>
        <td>JY</td>
        <td>MF</td>
        <td>MH</td>
        <td>DD</td>
        <td>DD</td>
        <td>NR</td>
        <td>TS</td>
        <td>ML</td>
        <td>SH</td>
        <td>Ed</td>
      </tr>
      <tr>
        <th>0</th>
        <td>IM</td>
        <td>PS</td>
        <td>Ki</td>
        <td>ST</td>
        <td>MK</td>
        <td>AF</td>
        <td>SC</td>
        <td>EB</td>
        <td>CH</td>
        <td>MY</td>
      </tr>
        <tr>
        <th>4</th>
        <td>BA</td>
        <td>LQ</td>
        <td>TS</td>
        <td>MK</td>
        <td>MG</td>
        <td>JR</td>
        <td>PS</td>
        <td>MH</td>
        <td>W</td>
        <td>GR</td>
      </tr>
        <tr>
        <th>7</th>
        <td>MK</td>
        <td>CH</td>
        <td>MY</td>
        <td>SC</td>
        <td>HC</td>
        <td>HC</td>
        <td>LG</td>
        <td>AF</td>
        <td>JM</td>
        <td>MY</td>
      </tr>
        <tr>
        <th>3</th>
        <td>MH</td>
        <td>MG</td>
        <td>EB</td>
        <td>CS</td>
        <td>ML</td>
        <td>W</td>
        <td>IM</td>
        <td>TS</td>
        <td>SE</td>
        <td>JY</td>
      </tr>
        <tr>
        <th>5</th>
        <td>JM</td>
        <td>JR</td>
        <td>PS</td>
        <td>BA</td>
        <td>CH</td>
        <td>Ed</td>
        <td>MG</td>
        <td>BA</td>
        <td>CH</td>
        <td>MK</td>
      </tr>
        <tr>
        <th>1</th>
        <td>AF</td>
        <td>SC</td>
        <td>TS</td>
        <td>LJ</td>
        <td>DM</td>
        <td>MM</td>
        <td>SE</td>
        <td>PS</td>
        <td>JR</td>
        <td>JY</td>
      </tr>
        <tr>
        <th>6</th>
        <td>NR</td>
        <td>HC</td>
        <td>MG</td>
        <td>ST</td>
        <td>AF</td>
        <td>GR</td>
        <td>AG</td>
        <td>MH</td>
        <td>MK</td>
        <td>EB</td>
      </tr>
        <tr>
        <th>2</th>
        <td>AG</td>
        <td>SE</td>
        <td>W</td>
        <td>JY</td>
        <td>SC</td>
        <td>MY</td>
        <td>JY</td>
        <td>CH</td>
        <td>MF</td>
        <td>LQ</td>
      </tr>
    </tbody>
  </table>
</div>